/* GLOBAL */
*, *::before, *:after {
    margin: 0;
    padding: 0;
    /* display: block; */
}
:root {
    --main-color: #434455;
    --heading-color: #2e2f42;
    --blue-color: #4d5ae5;
    --footer-white-color: #f4f4fd;
    --main-font-family: 'Roboto', sans-serif;
    --second-font-family: "Raleway", sans-serif;
    --background-dark: #2e2f42;
    --white-color: #fff;
    --focus-color: #404bbf;
}
body {
    font-family: var(--main-font-family);
    color: var(--main-color);
    background-color: var(--white-color);
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
}
.section {
    padding: 120px 0;
}
.wrapper {
    margin: 0 156px;
}
/* NAWIGATION */
.logo {
    font-family: var(--second-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-color);
}
.logo-footer {
    color: var(--footer-white-color)
}
.logo-nav {
    color: var(--heading-color);
}

.nav-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--heading-color);
}
.nav-heading:hover,
.nav-heading:focus {
    color: var(--focus-color);
}
.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    font-style: normal;
}
.contact-link:focus, .contact-link:hover {
    color: var(--focus-color)
}
.nav-box {
    display: flex;
    justify-content: space-between;
    padding: 24px 156px;
}
.contact-list {
    display: flex;
    gap: 40px;
}
.logo-nav-box {
    display: flex;
    gap: 76px;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.nav-box {
    display: flex;
    justify-content: space-between;
    padding: 24px 156px;
}
.contact-list {
    display: flex;
    gap: 40px;
}
.logo-nav-box {
    display: flex;
    gap: 76px;
}
.nav-list {
    display: flex;
    gap: 40px;
}
/* HERO SECTION */
.hero-section {
    background-color: var(--background-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white-color);
    padding-top: 188px;
    margin-bottom: 48px;
}
.btn {
    background: var(--blue-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
    padding: 16px 32px;
    margin-bottom: 188px;
}
.btn:focus, .btn:hover {
    background-color: var(--focus-color);
}
/* FIRST SECTION */
.section-heading {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--heading-color);
    margin-bottom: 72px;
}
.second-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--heading-color);
}
.section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
}
.hidden-heading {
    display: none;
}
.first-section-list {
    display: flex;
    gap: 24px;
    /* padding: 120px 156px; */
}
/* TEAM SECTION */
.team-section {
    background-color: var(--footer-white-color);
}

.team-list-item {
    background-color: var(--white-color);
}
.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 0 156px;
}
.team-heading-box {
    text-align: center;
    padding: 16px 32px;
}
/* PORTFOLIO SECTION */
.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.portfolio-heading-box {
    padding-top: 16px;
    padding-bottom: 16px;

}
/* FOOTER */
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-white-color);
    margin-top: 16px;
}

.footer {
    background-color: var(--background-dark);
    padding: 100px 1020px 100px 156px;
}